.calltoaction{
    width: 100%;
    margin-bottom: -7rem;
}

.form-input-group input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    margin: 5px 0px;
    background-color: white;
  }

  .inputSection{
    display: flex;
    margin: 0 auto;
    place-items: center;
    justify-content: center;
    align-items: center;
    gap: 10px;

  }

  .inputSection h2{
    margin-bottom: 1rem;
  }
  
 label{
    position: relative;
 }

 .messageSection{
    background: #E6E4E4;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
 }

 .calltoactionContainer{
    display: grid;
    grid-template-columns: 60% 40%;
    background: #F8F8F8;
    margin-top: 6rem;
    height: 15rem;
 }

 .subscribeInput{
    padding: 1rem 6rem;
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
 }
 
 .subscribeBtn{
    padding: 1rem 2rem;
    background: var(--c-secondary);
    color: var(--blue-color);
    font-size: .9rem;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
 }

 @media screen and (max-width: 600px) {

    .calltoactionContainer{
        display: grid;
        grid-template-columns: 1fr;
     }

    
 }