
.mainHeader{
    width: 100vw;
    height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
    margin-top: 3rem;
}

.mainHeaderContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}



.mainHeaderLeft{
  margin-top: -10rem;
}

.mainHeaderLeft h4{
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.mainHeaderLeft p{
    margin: 1rem 0 2rem 0;
}
.btn {
    outline: none;
    background-color: var(--c-secondary);
    padding: 0.9rem 2rem;
    width: fit-content;
    max-width: 10%;
    border: none;
    cursor: pointer;
    transition: var(--transition);
    margin: 0 auto;
    border-radius: 1.5rem;
}

.btn.lg{
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    font-size: 1.1rem;
}


.btn:hover{
    color: white;
    background-color: var(--blue-color);
}


.headerImg{
    width: 100%;
    object-fit: cover;
    max-width: 500px;
    position: relative;
}

.mainHeaderRight{
    display: grid;
    place-items: center;
    position: relative;
}

.mainHeaderCircle{
    width: 40rem;
    height: 40rem;
    background: linear-gradient(75deg,var(--c-secondary),transparent);
    border-radius: 50%;
    position: absolute;
    opacity: 0.05;
}


@media screen and (max-width:600px){
.mainHeader{
    padding: 12rem 0;
    height: 70vh;
    margin-top: 5rem;
  }

  .mainHeaderImage, .mainHeaderCircle,.mainHeaderRight,.headerImg{
    display: none;
  }

  .mainHeaderContainer{
    grid-template-columns: 1fr;
  }

  h1{
   font-size: 2.2rem;
   line-height: 1.5;
  }
 
  h2{
   font-size: 1.6rem;
  }

}