nav{
  height: 6rem;
  width: 100vw;
  background: var(--color-white);
  display: grid;
  place-items: center;  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  /* box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2); */
}

.logo{
    width: 6rem;
}

.navToggleBtn{
    display: none;
}

.navContainer{
    height: 100%;
    display: flex;
    color: var(--blue-color);
    justify-content: space-between;
    align-items:center;
    position: relative;
   
}

a{
    color: var(--blue-color);
}

.navLinks{
    display: flex;
    justify-content: center;
   gap: 3.5rem;
   font-weight: 500;
   font-size: 1.2rem;
   align-items: center;
}

.navLinks a{
    transition: var(--transition);
}

.navLinks a:hover{
   color:var(--color-hover);
   border-bottom: 2px solid var(--c-secondary);
}

.active-nav{
    position: relative;
   
}

/* .active-nav::after  {
    content:"";
    display: block;
    width: 2rem;
    height: 2rem;
    background: #fefefe;
    position: absolute;
    left: calc(50% - 0.6rem);
    transform: rotate(45deg);
    margin-top: 0.9rem;
} */

@media screen and (max-width:1024px){
    .navToggleBtn{
        display: inline-block;
        background: transparent;
        font-size: 3rem;
        cursor: pointer;
    }

    .navToggleBtn svg{
        color: var(--blue-color);
    }


    .navLinks{
        position: absolute;
        top: 110%;
        right: -10%;
        flex-direction: column;
        gap: 0;
        
    }
    .active-nav,.active-nav::after{
        display: none;
    }

    .navLinks li{
        height: 4rem;
        width: 100%;
        
    }

    .navLinks li a {
        background-color: white;
        height: 100%;
        width: 100%;
        padding: 1rem 5rem 1rem 3rem;
        display: flex;
        align-items: center;

    }

    .showNav{
        display: flex;
    }

    .hideNav{
        display: none;
    }
}
